/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    color: rgb(20, 41, 160);
    text-align: center;
  }
  
  .weather-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  header h1 {
    margin: 20px 0;
  }
  
  .search-box {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .search-box input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    outline: none;
  }
  
  .search-box button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #cc7e00;
    color: rgb(250, 255, 244);
    cursor: pointer;
  }
  
  .search-box button:hover {
    background-color: #993b00;
  }
  
  .weather-info {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .weather-info h2,
  .weather-info p {
    margin: 10px 0;
  }
  
  footer {
    margin-top: 30px;
  }
  